@tailwind base;
@tailwind components;
@tailwind utilities;

/* ========== HER.ai Custom Global Styles ========== */

body {
  @apply bg-gray-900 text-white antialiased;
}

input::placeholder {
  @apply text-gray-400;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.3);
  border-radius: 9999px;
}